@model  IList<libbook.ViewModels.BarCodeViewModel>
 @{
    ViewBag.Title = "GenerateQrCode";
}


<html>

<head>
    <link rel="stylesheet" href="~/Content/print.css">
</head>

<body>

    <h2>Сгенерированные Qr - коды</h2>
    @*@{
            if (Model != null)
            {

              
            }
        }*@

<button target="blank" class="btn btn-primary" style="cursor: pointer" onclick="window.print();">Печать</button>
<table class="table">
    <tr>
        <th> </th>
        <th></th> 
        <th> </th>
        

    </tr>


@for (int i = 0; i < Model.Count-1; )
 {
<tr>
    @for (int j = 0; j < 3 && i<Model.Count; j++,i++)
    {
       
    <td>
        @Model[i].Book.BookName<br />
        <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model[i].QrCodeImage))" width="100" height="100" />
        <br />
        @Model[i].Book.InventoryNum
    </td>

    }
</tr>   
}




</table>
    



</body>
</html>

